/* variables */

:root {
  --clr-primary: #65d3e9;
  --clr-primary-dark: #428c9b;
  --clr-light-gray: #222;
  --clr-dark-gray: #555;
  --clr-darker-gray: #aaa;
  --ff-primary: Roboto;
  --clr-secondary: #f280d0;
  --clr-secondary-dark: #662a59;

  --background: #000c18;
  --hover: #65d3e933;

  --vscode-editor-background: #0000 !important;
  --vscode-editor-foreground: white !important;
  --vscode-editorHoverWidget-background: #111c28 !important;
  --vscode-widget-shadow: #0004 !important;
  --vscode-editorHoverWidget-border: #2222 !important;
  --vscode-editor-selectionBackground: var(--hover) !important;
  --vscode-breadcrumb-foreground: #eee !important;
}


/* General styling */

body {
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: white;
  scrollbar-color: lightgray #fff1;
}

.markdown code {
  color: ;
  background-color: #fff1;
  font-size: 85%;
  border-radius: .3em;
  padding-left: .3em;
  padding-right: .3em;
}

.markdown pre code {
  padding: 0;
}

.markdown pre {
  padding-top: .6em;
  padding-bottom: .6em;
  padding-left: .3em;
  overflow: auto;
  line-height: 1.45;
  background-color: #fff1;
  border-radius: .3em;
}

.markdown pre code {
  background-color: unset;
}

.loading {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.btn {
  line-height: inherit;
  text-decoration: none;
  background: var(--clr-primary);
  color: black;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.2rem .6em;
  font-size: 1rem;
  margin: 0 .2em;
  border: 0;
  cursor: pointer;
}

.btn-inverted {
  color: var(--clr-primary);
  background: black;
}

.btn-inverted:hover {
  color: var(--clr-primary-dark);
}

.btn-disabled, .btn[disabled] {
  color: var(--clr-dark-gray);
  background: var(--clr-light-gray);
  pointer-events: none;
}

.btn-inverted.btn-disabled, .btn-inverted.btn[disabled] {
  color: var(--clr-dark-gray);
  background: black;
}

em {
  font-style: italic;
}

/* App Bar */

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-bar {
  flex: 0;
  background: linear-gradient(135deg, #f280d0 0%, #65d3e9 100%);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  z-index: 2;
}

.app-bar .btn {
  background: unset;
}

.app-bar > .app-bar-left{
  display: flex;
  align-items: center;
  gap: .5em;
}

.app-bar-title, .app-bar-subtitle {
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
  display: inline-block;
  margin: 0;
  /* margin: 0 1em; */
}

.app-content {
  height: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
}


.markdown li ul, .markdown li ol {
	margin:0 1.5em;
}

.markdown ul, .markdown ol {
	margin:0 1.5em 1.5em 1.5em;
}

.privacy-policy {
  z-index: 10;
}
